rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /profiles/{profileId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.userId == request.auth.uid;
      allow create: if request.auth != null
        && request.resource.data.type == "trainee"
        && request.resource.data.ownerCoachProfileId is string
        && request.resource.data.userId == request.auth.uid;
      allow update, delete: if request.auth != null
        && resource.data.userId == request.auth.uid;
    }

    match /measurements/{mId} {
      allow read, write: if request.auth != null;
    }
    match /goals/{goalId} {
      allow read, write: if request.auth != null;
    }
    match /coachTraineeLinks/{linkId} {
      allow read, create, update, delete: if request.auth != null;
    }
    match /connectionTokens/{tokenId} {
      allow read, write: if request.auth != null;
    }
    match /memberships/{membershipId} {
      allow read, write: if request.auth != null;
    }
    match /visits/{visitId} {
      allow read, write: if request.auth != null;
    }
    match /events/{eventId} {
      allow read, write: if request.auth != null;
    }
  }
}
